.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-top: 2px solid #00bfa6;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin: 0 auto;
}

.btnLogin {
  padding: 1rem;

  background-color: #00bfa6;
  border-radius: 8px;
  border: none;

  color: white;
  font-weight: 600;

  cursor: pointer;
  transition: background 0.3s ease, opacity 0.2s ease;
}

.btnLogin:hover {
  background-color: #019d89;
}

/* kiedy disabled (Formik isSubmitting) */
.btnLogin:disabled {
  cursor: not-allowed;
  opacity: 0.85;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 768px) {
  .btnLogin {
    padding: 22px 52px;
  }
}
