.footer {
  margin-top: auto;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.copy {
  margin-bottom: 4px;
}
.links {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.link {
  font-size: var(--font-size-base);
  color: var(--color-text-link);
  text-decoration: none;
  transition: color 0.2s ease;
}


.link:hover {
  color: #019d89;
}

.version {
  margin-top: 6px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}
