.header {
  align-items: unset;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logoHeader {
  width: 66px;
  height: 66px;
}

.boxIcons {
  display: flex;
  gap: 20px;
}

.icons {
  font-size: 45px;

  cursor: pointer;
  transition: all 0.15s ease, transform 0.1s ease;
}
.icons:hover {
  transform: translateY(-1px);
}
.boxActions {
}

.levelAccount {
  margin-bottom: 2rem;
text-transform: uppercase;
  font-size: var(--font-size-m);
}

.boxUsage {
  margin: 1rem auto;
  padding: 12px 22px;
  width: fit-content;
  background-color: var(--color-bg-second);
  border-radius: 8px;
}

.boxUsage .text {
  font-size: var(--font-size-base);
  color: var(--color-text-main);
}

.boxBtn {
  margin: 1rem auto;
  padding: 1rem;
  width: fit-content;

  background: var(--color-bg-btn);
  border: 1px solid var(--color-border-btn);
  border-radius: 8px;

  cursor: pointer;

  transition: all 0.3 ease-in-out;
}
.boxBtn:hover {
  background-color: #c8f5fa;
}

.linkAsBtn {
  font-size: var(--font-size-base);
  font-weight: 700;
  color: var(--color-text-btn);
  text-decoration: none;
  border: none;
}



@media screen and (min-width: 768px) {
  .logoHeader {
    width: 76px;
    height: 76px;
  }

  .icons {
    font-size: 55px;
  }

  .levelAccount {
    font-size: var(--font-size-xl);
  }

  .boxUsage {
    padding: 20px 52px;
  }
  .boxUsage .text {
    font-size: var(--font-size-m);
  }

  .boxBtn {
    padding: 20px 52px;
  }

  .linkAsBtn {
    font-size: var(--font-size-m);
  }
}

@media screen and (min-width: 1200px) {
}
