/* === Reset / Normalize === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Root Variables */
:root {
  /* Typography */
  --font-size-base: 1rem;
  --font-size-m: 1.25rem;

  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.4rem;

  /* Text Colors */
  --color-text-main: #2d3436;
  --color-text-btn: #00796b;
  --color-text-btnSecond: #ffffff;
  --color-text-link: #00bfa6;

  /* Background Colors */
  --color-bg-body: #f8f9fa;
  --color-bg-primary: #f4faff;
  --color-bg-second: #f0f9ff;
  --color-bg-third: #ffffff;
  --color-bg-btn: #e0f7fa;
  --color-bg-btnSecond: #00bfa6;

  /* Border Colors */
  --color-border-btn: #b2ebf2;
}

html,
body {
  height: 100%;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-body);
  color: var(--color-text-main);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: #3f51b5;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.section {
  padding-block: 30px;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}

.logoError {
  width: 128px;
  height: 128px;

  margin: 0 auto;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }

  .section {
    padding-block: 50px;

    gap: 50px;
  }

  .logoError {
    width: 256px;
    height: 256px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
