.section {
  padding-block: 30px;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}
.logoHero {
  width: 128px;
  height: 128px;
}
.section h1 {
  font-size: 1.25rem;
}
.section h2 {
  font-size: 1rem;
}
.description {
  margin-top: 0.625rem;
  font-size: 1rem;
}

.ctaBox {
  padding: 12px 22px;

  background-color: #e0f7fa;
  border: 1px solid #b2ebf2;
  border-radius: 6px;

  font-size: 1rem;
  font-weight: 700;
  color: #00796b;
}

@media screen and (min-width: 768px) {
  .section {
    padding-block: 50px;

    gap: 50px;
  }

  .logoHero {
    width: 256px;
    height: 256px;
  }

  .section h1,
  .section h2 {
    font-size: 2rem;
  }

  .description {
    margin-top: 0.625rem;
    font-size: 1.25rem;
  }

  .ctaBox {
    padding: 20px 52px;

    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-block: 70px;
  }

  .logoHero {
    width: 300px;
    height: 300px;
  }

  .section h1,
  .section h2 {
    font-size: 3rem;
  }

  .description {
    font-size: 2rem;
  }

  .ctaBox {
    padding: 20px 52px;

    font-size: 2rem;
  }
}
