.text {
  font-size: 1rem;
  color: #444;
}

.textLink {
  margin-left: 0.5rem;

  font-size: 1rem;
  color: #00bfa6;
  text-decoration: none;
}

.textLink:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .text,
  .textLink {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .text,
  .textLink {
    font-size: 1.85rem;
  }
}
