.text {
  font-size: var(--font-size-base);
  color: #444;
}

.textLink {
  margin-left: 0.5rem;

  font-size: var(--font-size-base);
  color: var(--color-text-link);
  text-decoration: none;
}

.textLink:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .text,
  .textLink {
    font-size: var(--font-size-m);
  }
}

@media screen and (min-width: 1200px) {
  .text,
  .textLink {
    font-size: var(--font-size-l);
  }
}
